* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


nav{
    background: rgba(19,7,70,0.83);
    padding: 2em 1em;
    color: white;
    text-align: center;
}

.manager {
    background: rgba(13,4,45,0.86);
    display: flex;
    padding: 4em 2em 0 2em;
    justify-content: space-around;
    align-items: center;

}

.manager-bar{
    display: flex;
    background: rgba(20, 20, 56, 0.51);
    border: none;
    border-radius: 3em;
    justify-content: space-between;
    width: 90em;
    padding: 1.5em 3em;

}

.task-status{
    display: flex;
    padding: 0;

}

.task-status ul{
    display: flex;
    list-style: none;
    gap: 1em;
    margin: 0;
    color: white;
}

.task-status button{
    background: rgba(61,65,127,0.74);
    font-size: 1.2em;
    border: none;
    border-radius: 2em;
    padding: 1em 2em;
    color: white;
    cursor: pointer;
}

.add-task button{
    background: rgba(61,65,127,0.74);
    border: none;
    font-size: 1.2em;
    border-radius: 2em;
    padding: 1em 2em;
    color: white;
    cursor: pointer;
}

.add-task{
    display: flex;

}

.task-display{
    background: rgba(13,4,45,0.86);
    display: flex;

    align-items: center;
    flex-direction: column;
    padding: 3em 10em 8.8em 10em;
    height: 100vh;
}

.task-table{
    background: rgba(20, 20, 56, 0.51);
    padding: 1em 1em 1em 0;
    border: none;
    border-radius: 3em;
    height: auto;
    width: 90em;

}

.task-table{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1.5em 0 1.5em 8em;
}

#task-container{
    display: table-row-group;
    color: white;
    gap: 1em;
}

#task-container tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20em;

}

#task-container th{
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
    font-weight: bold;
    justify-content: space-between;
    padding: 1em;
}

#task-container td{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.2em;
    padding: 1em 1em 2em 2em;
}

.footer{
    padding: 0;
}

.footer-content{
    background: rgba(19,7,70,0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1em;
    color: white;
}

.footer-content a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.window {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.window-content {
    background-color: rgba(75,70,120,1);
    padding: 2.5em 0 2.5em 0;
    border-radius: 1.5em;
    width: 400px;
    text-align: center;
}

.window-content h3 {
    margin-bottom: 1em;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    padding: 0.2em;
}

.window-content input {
    padding: 1em;
    margin-bottom: 1.5em;
    border: 1px solid #ddd;
    border-radius: 10em;
    width: 20em;
    margin-bottom: 2em;
}

.window-content button {
    padding: 1em 2em;
    background-color: rgba(61,90,170,0.5);
    border: none;
    border-radius: 2em;
    color: white;
    cursor: pointer;
}

.actionBtn{
    background: rgba(61,65,127,0.74);
    border: none;
    font-size: 1.2em;
    border-radius: 2em;
    height: 2em;
    width: 6em;
    color: white;
    cursor: pointer;
}

.text-state{
    font-size: 1.2em;
}
